@import url(text.css);

body {
    background: rgb(213, 222, 217) url(../images/noise.png);
}

.column {
    width: 350px;
    margin: 0px auto;
    padding: 10px;
}

.column ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.column li.reservation {
    margin: 0px;
    padding: 10px;
    border-bottom: 4px rgb(213, 222, 217) solid;
    background-color: rgb(217, 206, 178);
    line-height: 40px;
    height: 40px;
    width: -moz-calc(100% - 4px);
    width: -webkit-calc(100% - 4px);
    width: calc(100% - 4px);
}

.column li.reservation:first-child {
    border-radius: 15px 15px 0px 0px;
}

.column li.reservation:last-child {
    border-radius: 0px 0px 15px 15px;
    border-bottom: none;
}

/* From here on out get a little loose with selectors. Assume .reservation is only used in the list described above. */

.reservation .section {
    width: 33%;
    margin: 0px;
    padding: 0px;
    display: inline;
    float: left;
}
.reservation .section:last-child {
    width: 34%;
    font-size: 3.7rem;
    text-align: right;
}

.reservation .section .guests {
    margin-right: 20px;
    float: right;
}

.reservation .section .guest-singular {
    margin-right: 26px;
}
