body {
    background: rgb(235, 235, 235) url(../images/subtle_grunge.png);
    padding: 0;
}

/* Header */

header {
    height: 80px;
    margin-bottom: 40px;
    background-color: rgb(86, 93, 96);
}

/* Reservations */

.column {
    padding: 0;
}

.column ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.column li.reservation {
    margin: 0px;
    padding: 0px;
    border-bottom: 4px rgb(235, 235, 235) solid;
    background-color: rgba(44, 59, 99, 0.5);
    line-height: 40px;
    height: 40px;
}

.column li.reservation:first-child {
    border-radius: 15px 15px 0px 0px;
}

.column li.reservation:last-child {
    border-radius: 0px 0px 15px 15px;
    border-bottom: none;
}

/* From here on out get a little loose with selectors. Assume .reservation is only used in the list described above. */
.reservation div span.text {
    padding: 10px;
}

.reservation div:last-child {
    font-size: 3.7em;
    text-align: right;
}
